@import "common/variables";

#main {
  .top {
    .bg {
      background: url("../images/nazhirun/top-bg.png") no-repeat center;
      width: 100%;
      height: 240px;
    }
  }
  .left {
    padding: 0;
    .title {
      border-bottom: 3px solid #ccc;
      padding: 0;
      h3 {
        margin: 0 0 -3px 0;
        padding-top: 10px;
        color: #c76300;
        display: inline-block;
        border-bottom: 3px solid #1d1d1d;
        height: 50px;
      }
    }
    .search {
      background: url("../images/chanping/search-bg.png") no-repeat center center;
      height: 170px;
      .title {
        border-bottom: 0;
        h3 {
          border-bottom: 0;
        }
      }
      #search_text {
        width: 100%;
        border: 1px solid #8f8f8f;
      }
      .row2 {
        margin-top: 80px;
      }
    }
    .classify {
      ul {
        list-style: none;
        padding-left: 15px;
        li {
          border-bottom: 1px solid #ccc;
          line-height: 30px;
          a {
            color: #665e68;
            font-size: 16px;
          }
        }
      }
    }
    .support {
      .qq, .work-time, .contact {
        padding: 10px;
        border-bottom: 1px dashed #ccc;
        >div {
          line-height: 40px;
          a {
            color: #665e68;
            font-size: 16px;
          }
        }
      }
    }
  }
  .right {
    .title {
      border-bottom: 3px solid #ccc;
      padding: 0;
      h3 {
        margin: 0 0 -3px 0;
        padding-top: 10px;
        color: #1d1d1d;
        display: inline-block;
        border-bottom: 3px solid #c76300;
        height: 50px;
      }
      a.more {
        margin-top: 12px;
      }
    }
    .item {
      margin: 10px 0;
      color: $font-color;
      h3 {
        font-size: 16px;
      }
      img {
        width: 100%;
        height: 170px;
        transition: all .3s;
      }
      &:hover {
        img {
          transform: translate3d(0, -10px, 0) scale3d(1.05, 1.05, 1.05);
        }
      }
    }
  }
}
