@import "common/variables";
@import "common/header";
@import "common/footer";

::-webkit-input-placeholder {
  color: $placeholdercolor;
}
::-moz-placeholder {
  color: $placeholdercolor;
}
:-ms-input-placeholder {
  color: $placeholdercolor;
}
.swiper-container {
  .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  .swiper-pagination-bullet-active {
    background: $color-red;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    opacity: .5;
    transition: all .5s;
    background-image: none;
    .glyphicon {
      color: #fff;
      font-size: 5rem;
    }
    &:hover {
      opacity: 1;
    }
  }
}

#main {
  margin-bottom: 30px;
}

#bdshare_weixin_qrcode_dialog {
  box-sizing: content-box;
}
