@import "common/variables";

@import "../../bower_components/ihover/client/styles/bourbon/bourbon";
@import "../../bower_components/ihover/client/styles/shared/default-styles";
@import "../../bower_components/ihover/client/styles/shared/variables";
@import "../../bower_components/ihover/client/styles/square/effect6";

.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-button-prev, .swiper-button-next {

    font-size: 50px;
    font-weight: normal;
    color: #fff;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .bg {
      img {
        transition: all .6s;
        width: 100%;
        height: 100%;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.swiper-header {
  height: 400px;
  padding: 0;
  @media screen and (max-width: 768px) {
    height: 250px;
  }
  .swiper-slide {
    .bg {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.chandi-title {
  height: 200px;
  margin: 20px 0;
}
.chandi-content {
  .ih-item.square {
    width: 100%;
    height: 100%;
  }
  .col1 {
    height: 460px;
    img {
      width: 360px;
      height: 460px;
    }
  }
  .col2 {
    .container-fluid {
      padding: 0;
    }
    .row1 {
      height: 210px;
      line-height: 210px;
    }
    .row2 {
      height: 210px;
      line-height: 210px;
      .col-md-6 {
        padding: 10px 15px;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.zhizuo {
  margin-top: 40px;
  background: rgb(107,129,88) url("../images/index/zhizuo-bg.png") no-repeat;
  background-size: cover;
  .container-fluid {
    padding: 30px 0;
  }
  .title {
    color: #fff;
    h4 {
      margin-top: 20px;
    }
  }
  .content {
    margin-top: 10px;
    .thumbnail {
      img {
        height: 260px;
        width: 95%;
      }
    }
  }
}
.desc {
  margin-top: 5px;
  margin-bottom: -30px;
  padding: 40px 0;
  background: #f7f7f7 url("../images/index/desc-bg.png") no-repeat center;
  background-size: cover;
  h2 {
    color: rgb(84,137,0);
    margin: 10px 0;
    .glyphicon {
      font-size: 20px;
    }
  }
  p {
    margin-top: 20px;
    color: rgb(153,153,153);
  }
}

/*---------------*/
/***** Layla *****/
/*---------------*/

figure {
  .effect-layla {
    background: #18a367;
    img {
      height: 390px;
    }
    figcaption {
      padding: 3em;
      &::before,
      &::after {
        position: absolute;
        content: '';
        opacity: 0;
      }
      &::before {
        top: 50px;
        right: 30px;
        bottom: 50px;
        left: 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: scale(0,1);
        transform-origin: 0 0;
      }
      &::after {
        top: 30px;
        right: 50px;
        bottom: 30px;
        left: 50px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
      }
    }
    h2 {
      padding-top: 26%;
      transition: transform 0.35s;
    }
    p {
      padding: 0.5em 2em;
      text-transform: none;
      opacity: 0;
      transform: translate3d(0,-10px,0);
    }
    img,
    h2 {
      transform: translate3d(0,-30px,0);
    }

    img,
    figcaption::before,
    figcaption::after,
    p {
      transition: opacity 0.35s, transform 0.35s;
    }
    &:hover {
      img {
        opacity: 0.7;
        transform: translate3d(0,0,0);
      }
      h2,
      p {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      figcaption::before,
      figcaption::after {
        opacity: 1;
        transform: scale(1);
      }
      figcaption::after,
      h2,
      p,
      img {
        transition-delay: 0.15s;
      }
    }
  }
}
